<div class="cart_info">
	<div class="container">
		<div class="row">
			<div class="col">
				<!-- Column Titles -->
				<div class="cart_info_columns clearfix">
					<div class="cart_info_col cart_info_col_product">학습 정보</div>
					<div class="cart_info_col cart_info_col_price">상태</div>
					<div class="cart_info_col cart_info_col_quantity">인증 기관</div>
					<div class="cart_info_col cart_info_col_total">비고</div>
				</div>
			</div>
		</div>
		<div class="row cart_items_row">
			<div class="col">

				<!-- Cart Item -->
				<% for (var index in my_items){%>
				<div
					class="cart_item d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
					<!-- Name -->
					<div class="cart_item_product d-flex flex-row align-items-center justify-content-start">
						<div class="cart_item_image">
							<div><img src=<%- my_items[index].img_path %> alt=""></div>
						</div>
						<div class="cart_item_name_container">
							<div class="cart_item_name"><a href="#"><%- my_items[index].Product_name %></a></div>
							<div class="cart_item_edit"><a href="#">Edit</a></div>
						</div>
					</div>
					<!-- 상태 -->
					<% if(my_items[index].status==1) {%>
					<div class="cart_item_price"> 인증 진행중</div>
					<!-- 구매자 -->
					<div class="cart_item_buyer"><%- my_items[index].Member_id%></div>
					<!-- Total -->
					<div class="cart_item_total">
						<form action="/request/shipping" method="post">
							<input type="hidden" name="number" value=<%- my_items[index].Number %> >
							<input type="hidden" name="pd_id" value=<%- my_items[index].Product_id %> >
							<button class= "btn btn-primary" type = "submit" onclick="alert ('인증을 시작합니다.')">
								<span class="dark-blue-text">상태 진행</span>
							</button>
						</form>
						<button class="btn btn-danger"
							onclick="location.href='/request/cancel?pid=<%- my_items[index].Product_id %>'">인증 취소</button>
					</div>
					<% } else if(my_items[index].status==2){ %>
					<div class="cart_item_price">인증 진행중</div>
					<!-- 구매자 -->
					<div class="cart_item_buyer"><%- my_items[index].Member_id%></div>
					<!-- Total -->
					<div class="cart_item_total">-</div>
					<% } else if(my_items[index].status==3){ %>
					<div class="cart_item_price">인증 완료</div>
					<!-- 구매자 -->
					<div class="cart_item_buyer"><%- my_items[index].Member_id%></div>
					<!-- Total -->
					<div class="cart_item_total">-</div>
					<% } else if(my_items[index].status==4){ %>
					<div class="cart_item_price">이상 신고접수</div>
					<!-- 구매자 -->
					<div class="cart_item_buyer"><%- my_items[index].Member_id%></div>
					<!-- Total -->
					<div class="cart_item_total">-</div>
					<% } else{ %>
					<div class="cart_item_price">학습인증 가능</div>
					<!-- 구매자 -->
					<div class="cart_item_buyer">-</div>
					<!-- Total -->
					<div class="cart_item_total">-</div>
					<%} %>
				</div>
				<div class="collapse navbar-collapse" id="invoice_number_<%- index %>">
					<!--div class="invoice_form active"-->
					<div class="container">
						<div class="row">
							<div class="col">
								<div
									class="invoice_form_content d-flex flex-row align-items-center justify-content-end">
									<form action="/request/shipping" method="post">
										<input type="hidden" name="number" value=<%- my_items[index].Number %> >
										<input type="hidden" name="pd_id" value=<%- my_items[index].Product_id %> >
								
										<submit>
											<button class="write_button"onclick="alert('인증을 시작합니다.')">입력</button>
										</submit>
									</form>
								</div>
							</div>
						</div>
					</div>

				</div>
				<% } %>
			</div>
		</div>
	</div>
</div>