<!DOCTYPE html>
<html lang="ko">

<head>
    <title>DGU Educhain</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="DGU Educhain Project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap4/bootstrap.min.css">
    <link href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="/styles/product.css">
    <link rel="stylesheet" type="text/css" href="/styles/product_responsive.css">
    <script src="/js/jquery-3.2.1.min.js"></script>

    <style>
        .container {
            margin: 15px 0 25px;
            padding-top: 6px;
            width: 659px;
            margin-left: 55px;
        }

        .container .r_name {
            background: none repeat scroll 0 0 #FFFFFF;
            font-size: 13px;
            font-weight: bold;
        }

        .container .wrap {
            padding-bottom: 3px;
            width: 659px;
        }

        .container table {
            border-left: 1px solid #CCCCCC;
            border-right: 1px solid #CCCCCC;
            float: left;
        }

        .container td {
            border-top: 1px solid #CCCCCC;
            border-bottom: 1px solid #CCCCCC;
            color: #333333;
            font: 13px/20px arial;
            padding: 5px 10px;
            text-align: center;
        }

        .flag_btn {
            font-size: 13px;
            float: right;
            margin-right: 15px;
            padding: 2px 5px;
        }

        .container select {
            margin-right: -30px;

        }
    </style>
</head>


<body>
    <div class="container">
        <h3 style="text-align: center; color: black; margin-top: 20px">
            <%if(admin){ flag = "evaluationList" } else { flag = "learningList" }%>
            <% if (flag == "learningList") { %>학습<% } else if (flag == "evaluationList") { %>인증<% } %> 목록</h3>

        <br><select id="docType" style="float: right" onchange="typeChange(this, '<%- flag %>')">
            <option value="all" <% if (type == "all") { %> selected <% } %>>전체</option>
            <option value="transaction" <% if (type == "transaction") { %> selected <% } %>>인증 정보</option>
            <option value="report" <% if (type == "report") { %> selected <% } %>>신고 정보</option>
        </select>
        <script>
            function typeChange(e, flag) {
                window.location = "/user/history/<%- userid %>?flag=" + flag + "&type=" + e.value;
            }
        </script>

        <!--
        <% if (flag == "learningList") { %>
        <button class="btn btn-dark flag_btn" onclick="flagChange(this, 'evaluationList')">인증 목록 보기</button>
        <% } else if (flag == "evaluationList") { %>
        <button class="btn btn-dark flag_btn" onclick="flagChange(this, 'learningList')">학습 목록 보기</button>
        <% } %>
        <script>
            function flagChange(e, flag) {
                window.location = "/user/history/<%- userid %>?flag=" + flag + "&type=all";
            }
        </script>
        -->
        <br><br>

        <div class="wrap">
            <table cellspacing="0" cellpadding="0" border="0" width="659">
                <tbody>
                    <tr>
                        <td class="r_name">날짜</td>
                        <td class="r_name">학습자 ID</td>
                        <td class="r_name">인증기관</td>
                        <td class="r_name">학습 과목</td>
                        <td class="r_name">성적</td>
                        <td class="r_name">상태</td>
                        <td class="r_name">기타</td>
                    </tr>

                    <% var len = 0; %>
                    <% result.forEach(function (history, index) { %>
                        <% if (type == "all" || history.docType == type) { %>
                        <tr>

                            <td><%- history.timestamp %></td>
                            <td><%- history.memberID %></td>
                            <td><%- history.evaluationID %></td>
                            <td><%- history.subject %></td>
                            <td><%- history.grade %></td>


                    <% if (history.docType == "transaction") { %>
                        <% if (history.details == "match") { %>
                        <td style="color: #fcb022">시작</td>
                        <td>-</td>
                        <% } else if (history.details == "shipping") { %>
                        <td style="color: #224afcdc">진행중</td>
                        <td>-</td>
                        <% } else if (history.details == "finish") { %>
                        <td style="color: #44a038">완료</td>
                        <td>-</td>
                        <% } else if (history.details == "cancel") { %>
                        <td style="color: #ff7b00">취소</td>
                        <td>-</td>
                        <% } %>
                        <% } else if (history.docType == "report") { %>
                        <td style="color: #fc2222ec">상태 5</td>
                        <td><%- history.details %></td>
                    <% } %>
                    <% len += 1; %>
                    </tr>
                    <% } %>
                    <% }) %>
                    <% if (len == 0) { %>
                    <tr>
                        <td colspan="7">정보가 존재하지 않습니다.</td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>


    <script src="/styles/bootstrap4/popper.js"></script>
    <script src="/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="/plugins/greensock/TweenMax.min.js"></script>
    <script src="/plugins/greensock/TimelineMax.min.js"></script>
    <script src="/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="/plugins/greensock/animation.gsap.min.js"></script>
    <script src="/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="/plugins/easing/easing.js"></script>
    <script src="/plugins/parallax-js-master/parallax.min.js"></script>
</body>

</html>