<div class="cart_info">
	<div class="container">
		<div class="row">
			<div class="col">
				<!-- Column Titles -->
				<div class="cart_info_columns clearfix">
					<div class="cart_info_col cart_info_col_product">학습 정보</div>
					<div class="cart_info_col cart_info_col_price">상태</div>
					<div class="cart_info_col cart_info_col_quantity">학습자</div>
					<div class="cart_info_col cart_info_col_total">비고</div>
				</div>
			</div>
		</div>
		<div class="row cart_items_row">
			<div class="col">

				<!-- Cart Item -->
				<% for (var index in my_request){%>
					<div
						class="cart_item d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
						<!-- Name -->
						<div class="cart_item_product d-flex flex-row align-items-center justify-content-start">
							<div class="cart_item_image">
								<div><img src=<%- my_request[index].img_path %> alt=""></div>
							</div>
							<div class="cart_item_name_container">
								<div class="cart_item_name"><a href="#"><%- my_request[index].Product_name %></a></div>
								<div class="cart_item_edit"><a href="#">Edit</a></div>
							</div>
						</div>
						<!-- 상태 -->
						<% if(my_request[index].status==1) {%>
							<div class="cart_item_price"> 인증 진행중</div>
							<!-- 구매자 -->
							<div class="cart_item_buyer"><%- my_request[index].Member_id%></div>
							<!-- Total -->
							<div class="cart_item_total">
								<button class="btn btn-danger" onclick="location.href='/request/cancel?pid=<%- my_request[index].Product_id %>'">취소</button>
							</div>
						<% } else if(my_request[index].status==2) { %>
							<div class="cart_item_price">인증중</div>
							<!-- 구매자 -->
							<div class="cart_item_buyer"><%- my_request[index].Member_id%></div>
							<!-- Total -->
							<div class="cart_item_total">
								<button class="btn btn-success" onclick="location.href='/request/finish?pid=<%- my_request[index].Product_id %>'">인증 완료</button>
								<!--button class="btn btn-danger" onclick="location.href='/request/report?pid=<%- my_request[index].Product_id %>'">거래 신고</button-->
								<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#notify_<%- index %>"
									aria-controls="notify_<%- index %>" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text">
										이상 신고</span>
								</button>
							</div>
						<% } else if(my_request[index].status==3){ %>
							<div class="cart_item_price">인증 완료</div>
							<!-- 구매자 -->
							<div class="cart_item_buyer"><%- my_request[index].Member_id%></div>
							<!-- Total -->
							<div class="cart_item_total">-</div>
						<% } else if(my_request[index].status==4){ %>
							<div class="cart_item_price">이상 신고접수</div>
							<!-- 구매자 -->
							<div class="cart_item_buyer"><%- my_request[index].Member_id%></div>
							<!-- Total -->
							<div class="cart_item_total">-</div>
						<% } else{ %>
							<div class="cart_item_price">취소</div>
							<!-- 구매자 -->
							<div class="cart_item_buyer">-</div>
							<!-- Total -->
							<div class="cart_item_total">-</div>
						<%} %>
					</div>
					<div class="collapse navbar-collapse" id="notify_<%- index %>" >	
							<!--div class="invoice_form active"-->
							<div class="container">
								<div class="row">
									<div class="cntr">
										<form action="/request/report" method="post">
											<label for="opt1_<%- index %>" class="radio">
												<input type="radio" name="rdo" id="opt1_<%- index %>" class="hidden" value="이상신고 1"/>
												<span class="label"></span>이상신고 1
											</label>								
											<label for="opt2_<%- index %>" class="radio">
												<input type="radio" name="rdo" id="opt2_<%- index %>" class="hidden" value="이상신고 2"/>
												<span class="label"></span>이상신고 2
											</label>	
											<label for="opt3_<%- index %>" class="radio">
												<input type="radio" name="rdo" id="opt3_<%- index %>" class="hidden" value="이상신고 3"/>
												<span class="label"></span>이상신고 3
											</label>
											<label for="opt4_<%- index %>" class="radio">
												<input type="radio" name="rdo" id="opt4_<%- index %>" class="hidden" value="이상신고 4"/>
												<span class="label"></span>이상신고 4
											</label>
											<label for="opt5_<%- index %>" class="radio">
												<input type="radio" name="rdo" id="opt5_<%- index %>" class="hidden" value="이상신고 5 "/>
												<span class="label"></span>이상신고 5
											</label>
											<input type="hidden" name="pd_id" value=<%- my_request[index].Product_id %> />
											<submit>
												<button class="write_button"onclick="alert('신고가 접수되었습니다..')">확인</button>
											</submit>
										</form>
									</div>
								</div>
							</div>
						</div>
				<% } %>
			</div>
		</div>
	</div>
</div>